.checkout_item{
    display: flex;
    background-color: #FFFFFF;
    padding: 30px;
    border: 2px solid #000;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 50px;
}
.checkout_item img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkout_details{
    margin-left: 50px;
}
.checkout_details > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;

}
